* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: aliceblue;
}
.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  min-height: 45vh;
  width: 40vh;
}
form {
  margin: 2rem 0 1rem 0;
}
form select,
input,
button {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.75rem;
}
form input {
  border: 1px solid lightgrey;
  font-size: 1rem;
  font-weight: 600;
  height: 3rem;
  padding-left: 0.5rem;
}

.dropdown i {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.select-container img {
  max-width: 2rem;
}
.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  width: 6rem;
  padding: 0.5rem;
}
.select-container select {
  font-size: 1rem;
  width: auto;
}
.msg {
  margin: 2rem 0 2rem 0;
  text-align: center;
  font-size: 1.5rem;
}

form button {
  height: 3rem;
  font-size: 1.15rem;
  background-color: color-mix(in srgb, red 50%, blue 40%);
  color: white;
  cursor: pointer;
}
